<a href="https://colab.research.google.com/github/abdalkarimnourddine/python-tutorial/blob/master/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list_1 = ['Statistics', 'Programming', 2016, 2017, 2018];
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7 ];

# Accessing values in lists
print ("list_1[0]: ", list_1[0])
print ("list2_[1:5]: ", list_2[1:5])

list_1[0]:  Statistics
list2_[1:5]:  ['b', 1, 2, 3]

#Adding new value to list

In [2]:
# Adding new value to list
print ("list_1 values: ", list_1)
list_1.append(2019)
print ("list_1 values post append: ", list_1)

list_1 values:  ['Statistics', 'Programming', 2016, 2017, 2018]
list_1 values post append:  ['Statistics', 'Programming', 2016, 2017, 2018, 2019]

Updating existing values of list

In [3]:
print ("Values of list_1: ", list_1)
print ("Value available at index 2 : ", list_1[2])
list_1[2] = 2015;
print ("New value available at index 2 : ", list_1[2])

Values of list_1:  ['Statistics', 'Programming', 2016, 2017, 2018, 2019]
Value available at index 2 :  2016
New value available at index 2 :  2015

In [4]:
#Deleting list elements
# Deleting list elements
print ("list_1 values: ", list_1)
del list_1[5];
print ("After deleting value at index 2 : ", list_1)

list_1 values:  ['Statistics', 'Programming', 2015, 2017, 2018, 2019]
After deleting value at index 2 :  ['Statistics', 'Programming', 2015, 2017, 2018]

Basic operations on lists

In [5]:
print ("Length: ", len(list_1))
print ("Concatenation: ", [1,2,3] + [4, 5, 6])
print ("Repetition :", ['Hello'] * 4)
print ("Membership :", 3 in [1,2,3])
print ("Iteration :" )
for x in [1,2,3]: print (x)

Length:  5
Concatenation:  [1, 2, 3, 4, 5, 6]
Repetition : ['Hello', 'Hello', 'Hello', 'Hello']
Membership : True
Iteration :
1
2
3

In [8]:
print( list_1)
print ("slicing :", list_1[-2])
print ("slicing range: ", list_1[1:])

['Statistics', 'Programming', 2015, 2017, 2018]
slicing : 2017
slicing range:  ['Programming', 2015, 2017, 2018]
ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [11]:
def cmp(a, b):
    return (a > b) - (a < b) 

print ("Compare two lists: ", cmp([1,2,3, 4], [1,2,3]))
print ("Max of list: ", max([1,2,3,4,5]))
print ("Min of list: ", min([1,2,3,4,5]))
print ("Count number of 1 in list: ", [1,1,2,3,4,5,].count(1))
print(list_2)
print(list_1)
list_1.extend(list_2)
print ("Extended :", list_1)

Compare two lists:  1
Max of list:  5
Min of list:  1
Count number of 1 in list:  2
['a', 'b', 1, 2, 3, 4, 5, 6, 7]
['Statistics', 'Programming', 2015, 2017, 2018]
Extended : ['Statistics', 'Programming', 2015, 2017, 2018, 'a', 'b', 1, 2, 3, 4, 5, 6, 7]

In [16]:
print ("Index for Programming : ", list_1.index( 'Programming'))
print (list_1)
print ("pop last item in list: ", list_1.pop())
print (list_1)
print ("pop the item with index 2: ", list_1.pop(2))
print (list_1)
list_1.remove('b') 
print ("removed b from list: ", list_1)
list_1.reverse()
print ("Reverse: ", list_1)

Index for Programming :  4
[3, 2, 1, 'a', 'Programming', 'Statistics']
pop last item in list:  Statistics
[3, 2, 1, 'a', 'Programming']
pop the item with index 2:  1
[3, 2, 'a', 'Programming']

ValueError: ignored

In [17]:
list_1 = ['a','b','c']
list_1.sort()
print ("Sort ascending: ", list_1)
list_1.sort(reverse = True)
print ("Sort descending: ", list_1)

Sort ascending:  ['a', 'b', 'c']
Sort descending:  ['c', 'b', 'a']